pyTelegramBotAPI
pathlib>=1.0.1
loguru>=0.5.3
httpx>=0.23.3
socksio
pydantic<2.0.0
beautifulsoup4>=4.11.1
python-dotenv
elara
redis>=4.5.4
shortuuid
tiktoken
pika
apscheduler
pillow
nest-asyncio
tzlocal